.comma {
    &:not(:first-child) {
        margin-left: 0.25rem;
    }

    &:not(:last-child) {
        &::after {
            display: inline-block;
            content: ", ";
        }
    } 
}

.notdisplayed {
    display: none;
}

.displayed {
    display: flex;
}

.blur {
    filter: blur(8px);
    cursor: default;
}

.noblur {
    filter: blur(0px);
    cursor: pointer;
}

.img-loaded {
    filter: blur(0px);
}

.img-loading {
    filter: blur(10px);
}